################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build